* {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--hue), 74%, 27%) hsl(var(--hue), 24%, 72%);
}

/* Chrome, Edge, & Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: hsl(var(--hue), 24%, 72%);
}

*::-webkit-scrollbar-thumb {
    background-color: hsla(var(--hue), 74%, 27%, 0.5);
}


a:link, a:visited, a:active{
    color: hsl(var(--hue), 6%, 27%);
    text-decoration: underline 0px solid transparent;
}
a:hover {
    color: hsl(var(--hue), 22%, 48%);
    text-decoration: underline white solid 2px !important;
}
.navbar {
    background-color: hsl(var(--hue), 100%, 30%);
    font-family: 'Merriweather Sans', sans-serif;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 0 1.5em 0 1.5em;
}
.flex-container{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    align-items: stretch;
    gap: 1.5em;
    padding-left: 1.5em;
}
.flex-container > a, .flex-container > div button, .flex-container > div{
    font-size: clamp(16px, 2.5vw, 1rem);
    white-space: nowrap;
}
.flex-container > a, .flex-container > div button{
    padding-top: 1.2em;
    padding-left: 10px;
    padding-right: 10px;
}
#SiteName {
    font-weight: 900;
    letter-spacing: 1.5px;
    color: hsl(var(--hue), 100%, 96%);
    text-align: left;
}
.navbar a {
    color: hsl(var(--hue), 100%, 96%);
    text-align: center;
    text-decoration: underline 0px solid transparent;
}
.dropdown {
    overflow: hidden;
}
.dropdown .dropbtn {
    border: none;
    outline: none;
    color: hsl(var(--hue), 100%, 96%);
    background-color: transparent;
    font-family: inherit;
    margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn, .Selected:hover {
    background-color: hsl(var(--hue), 69%, 46%);
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: hsl(var(--hue), 100%, 30%);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: inherit;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.dropdown-content a {
    float: none;
    color: hsl(var(--hue), 100%, 96%);
    padding: 5px 15px 5px 15px;
    text-decoration: underline 0px solid transparent;
    display: block;
    text-align: left;
}
.dropdown-content a:last-child {
    padding: 5px 15px 10px 15px;
}
.dropdown-content a:hover {
    background-color: hsl(var(--hue), 69%, 46%);
}
.dropdown-content a:last-child:hover {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.Selected{
    font-weight: 800;
    text-decoration: underline 2px solid white !important;
}
header{
    position: sticky;
    top: 0;
    z-index: 100;
}
@media only screen and (max-width: 685px) {
    #SiteName{
        font-size: 0px;
    }
    .navbar{
        grid-template-columns: 1px 1fr;
    }
    .flex-container{
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        padding-left: 0em;
        justify-content: space-around;
        gap: 0em;
    }
    .flex-container > a, .flex-container > div button{
        padding-top: 0em;
        padding-left: 10px;
        padding-right: 10px;
    }
}